Document/*
Build/*
*.dep
*.jlink
*.bat
*.dni
*.dbgdt
*.wsdt
*.rar
*.zip
*.tmp
si/*
Projects/COM.MXCHIP.SPP/EWARM/COM.MXCHIP.SPP.ewp
Projects/COM.MXCHIP.SPP/EWARM/COM.MXCHIP.SPP.ewp
Projects/COM.MXCHIP.SPP/EWARM/COM.MXCHIP.SPP.ewp
Projects/COM.MXCHIP.SPP/EWARM/COM.MXCHIP.SPP.ewp
Projects/COM.MXCHIP.SPP/EWARM/COM.MXCHIP.SPP.ewp
Projects/COM.MXCHIP.SPP/EWARM/COM.MXCHIP.SPP.ewp
Projects/COM.MXCHIP.SPP/EWARM/COM.MXCHIP.SPP.ewp
Projects/COM.MXCHIP.SPP/EWARM/COM.MXCHIP.SPP.ewp
*.ewp
